{
  "api": {
    "endpoint": "{{API_ENDPOINT}}",
    "commonUrlBase": "/api",
    "paths": {
      "security_refresh_token": "/security/token/refresh"
    }
  },
  "auth": {
    "userinfo_endpoint": "{{USERINFO_ENDPOINT}}",
    "authorization_endpoint": "{{AUTHORIZATION_ENDPOINT}}",
    "token_endpoint": "{{TOKEN_ENDPOINT}}",
    "end_session_endpoint": "{{END_SESSION_ENDPOINT}}",
    "account_management_web_ui": "{{ACCOUNT_MANAGEMENT_WEB_UI}}",
    "client_id": "{{CLIENT_ID}}"
  },
  "default": {
    "page": "/book",
    "notification_settings": {
      "duration": 1500,
      "iconPack": "fontawesome"
    }
  },
  "params": {
    "fontawesome_kit_name": "{{FONT_AWESOME_KIT_NAME}}"
  }
}
