$shade0: #bbaf99;
$shade1: #d0c3a9;
$shade2: #e4dccc;
$shade3: #f8f3ea;
$shade4: #fcfcfa;

$text: #000000;
$textInput: #3c3c3c;
$textLessImportant: #4b4b4b;
$textDisabled: #6b6b6b;
$textError: #990000;

$shadow: #8f897b;
