$left-action-bar-width-shrunk: 30px;
$left-action-bar-width-extent: 170px;
$left-action-bar-element-height: 30px;
$left-action-bar-element-text-padding-left: 3px;
$icon-min-width: 30px;
$mobile-portrait-icon-min-width: 35px;
