@import "colors";

$popup-padding: 3px;
$popup-border-width: 1px;

@mixin popup{
  background: white;
  border: $popup-border-width solid $shade0;
  box-shadow: 1px 1px 15px 1px $shade0;
  border-radius: 5px;
  padding: $popup-padding;
}
